{% extends 'base.html' %}

{% block 'main' %}

<!-- /BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="{% url 'toolcrib:principal' %}">ToolCrib</a></li>
			<li class="active">Orders</li>
		</ul>
	</div>
</div><br>
<!-- /BREADCRUMB -->

<div class="box-body table-responsive no-padding">
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>ID</th>
				<th>User</th>
				<th>Date</th>
				<th>N Items</th>
				<th>Urgency</th>
				<th>Status</th>
			</tr>
			{% for order in orders %}
			<tr>
				<td>				
					<a class="btn btn-primary" href="{% url 'toolcrib:ordersmanagercart' order.pk %}">{{order.id}}</a>
				</td>				
				<td>{{order.user }}</td>
				<td>{{order.date_order | date:"F /d/Y H:i" }}</td>
				<td>{{ order.order_detail_set.all.count}}</td>
				<td><span class="label label-success">{{order.get_level_display}}</span></td>
				<td><span class="label label-success">{{order.get_status_display}}</span></td>                  
			</tr>
		</tbody>
		{% empty %}
		<tr class="col-xs-12 col-sm-6 col-md-4 col-ls-4">
			<p>No orders pending</p>
		</tr>
		{% endfor %}
	</table>
</div>
<script>setTimeout('document.location.reload()', 9000); </script>
{% endblock %}