{% extends 'base.html' %}
{% load humanize %}
{% block 'main' %}


<!-- /BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="{% url 'toolcrib:principal' %}">ToolCrib</a></li>
			<li class="active">Catalog</li>
		</ul>
	</div>
</div><br>
<!-- /BREADCRUMB -->

<!-- STORE -->
<div id="store">
	<!-- row -->
	<div class="row">
		<!-- Product Single -->
		{% for part in parts %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-ls-4">
			<div class="product product-single">
				<div class="product-thumb">
					<img class="img-responsive" style="height: 200px; width: 200px;" src="{{ part.image.url }}"  alt="">
				</div>
				<div class="product-body">
					<form action="{% url 'toolcrib:parts' %}" method="post" class="form-inline">
						{% csrf_token %}
						<strong class="product-price">${{part.price|intcomma}} {{part.get_clas_display}}</strong>
						<h4 class="product-name">{{part.description}}</h4>
						<h4 class="product-name">Part number: {{part.num_part}}</h4>
						<h3>Stock: {{part.quantity}}</h3>
						<div class="product-btns">
								<input type="text" name="id_part" value="{{ part.id }}" hidden="">		
								<input style="width: 70px" class="form-control" type="number" name="cant" value="1" placeholder="Quantity" >
								<button type="submit" class="primary-btn add-to-cart">
									<i class="fa fa-shopping-cart"></i> Add to Cart
								</button>						
						</div>
					</form>
				</div>
			</div>
		</div>		
		{% empty %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-ls-4">
			<p>No results for you request</p>
		</div>
		{% endfor %}
	</div>
	<!-- /row -->
</div>
<!-- /STORE -->					      

<!-- store bottom filter -->
<div class="store-filter clearfix">
	<div class="pull-right">
		<ul class="store-pages">			
			{% if parts.has_previous %}
			<li><a href="?page={{ parts.previous_page_number }}&category={{ category }}&q={{ q }}"><i class="fa fa-caret-left"></i></a></li>
			{% endif %}
			<li class="active">Page {{ parts.number }} of {{ parts.paginator.num_pages }}</li>
			{% if parts.has_next %}
			<li><a href="?page={{ parts.next_page_number }}&category={{ category }}&q={{ q }}"><i class="fa fa-caret-right"></i></a></li>
			{% endif %}
		</ul>
	</div>
</div>
<!-- /store bottom filter -->

{% endblock %}