{% extends 'base.html' %}

{% block 'main' %}

<!-- /BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li class="active">ToolCrib</li>
		</ul>
	</div>
</div><br>
<!-- /BREADCRUMB -->


<div class="container">


	<header class="jumbotron my-4">
		<h1 class="display-3">Welcome to TOOL CRIB!</h1>
	    <p class="lead">The Toolcrib website is a tool that will help you to facilitate, improve, optimize, manage and reduce the times in the requesicion, approval and delivery of tools.</p>
	</header>


	<div class="container">
		<div class="text-center">
			<ul class="header-top-links">
				<li><a class="fa fa-list-ul" href="{% url 'toolcrib:parts' %}"> Parts</a></li>
				{% if user.groups.last.name == 'Supervisor' %}
					<li><a class="fa fa-tasks" href="{% url 'toolcrib:orderssupervisor'%}"> Orders</a></li>
				{% elif user.groups.last.name == 'Manager'  %}
					<li><a class="fa fa-tasks" href="{% url 'toolcrib:ordersmanager' %}"> Orders</a></li>
					<li><a class="fa fa-users" href="{% url 'toolcrib:updateuser' %}"> Update User</a></li>
					<li><a class="fa fa-gears" href="{% url 'toolcrib:updateproduct' %}"> Update Tool</a></li>
					<li><a class="fa fa-bar-chart" href="{% url 'toolcrib:showorders' %}"> Orders Panel</a></li>
			{% endif %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
