{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block 'main' %}

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<table id="cart" class="table table-hover table-condensed">
	    	<thead>
				<tr>
					<th style="width:50%">Product</th>
					<th style="width:10%">Price</th>
					<th style="width:8%">Quantity</th>					
				</tr>
			</thead>
			<tbody>
				{% for item in cart %}
					<tr>
						<td data-th="Product">
							<div class="row">
								<div class="col-sm-2 hidden-xs"><img style="height: 50; width: 50px;" src="{% static 'img/Herramienta.jpg' %}" class="img-responsive"/></div>
								<div class="col-sm-10">
									<h4 class="nomargin">{{ item.part.num_part }}</h4>
										<p>{{ item.part.description }}</p>
								</div>
							</div>
						</td>
						<td data-th="Price">{{ item.part.price | intcomma }}</td>
						<td data-th="Quantity">
							<input type="number" class="form-control text-center" value="{{ item.cant }}" disabled="true">
						</td>						
					</tr>
				{% empty %}
					<tr>
						<td>Empty cart</td>
					</tr>
				{% endfor %}				
			</tbody>
			<tfoot>
				<form action="." method="post">
					{% csrf_token %}
					<tr>
						<td>
							<a href="{% url 'toolcrib:parts' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>							

							<div class="pull-right">
								<select class="input" style="width: 150px" name="supervisor" required>
									{% for supervisor in supervisors %}
									<option value="{{supervisor.id}}">{{supervisor.first_name}} {{supervisor.last_name}}</option>
									{% endfor %}
								</select>					
								<select class="input" style="width: 120px" name="level" required>
										<option value="1">Not Urgent</option>
										<option value="2">Regular</option>
										<option value="3">Urgent</option>
								</select>
							</div>
						</td>
						<td>
							<input type="text" name="cost_center" style="width: 100px; padding: 5px;" placeholder="Cost Center" required>
						</td>
						<td>
							<button type="submit" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></button>
						</td>
					</tr>
				</form>
			</tfoot>
		</table>		
	</div>
</div>
{% endblock %}