{% extends 'base.html' %}
{% load mathfilters %}
{% block 'main' %}

<!-- /BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="{% url 'toolcrib:principal' %}">ToolCrib</a></li>
			<li class="active">DashBoard</li>
		</ul>
	</div>
</div><br>
<!-- /BREADCRUMB -->

<div class="box-body table-responsive no-padding">
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>ID</th>
				<th>User</th>
				<th>Date</th>
				<th>Time to Do</th>
				<th>N Items</th>
				<th>Urgency</th>
				<th>Status</th>
			</tr>
			{% for order in orders %}
			<tr>
				<td>				
					<strong>{{order.id}}</strong>
				</td>				
				<td>
					<strong>{{order.user.get_full_name }}</strong>
				<td>{{order.date_order | date:"F /d/Y H:i" }}
				</td>
				<td>
					{% if order.status == '2' %}
						Approved in: {{ order.date_approved|sub:order.date_order }}
					{% elif order.status == '4' %}
						done in: {{ order.date_done|sub:order.date_approved }}
					{% elif order.status == '1' %}
						is not approved.
					{% else %}
						Is canceled
					{% endif %}
				</td>
				<td>{{ order.order_detail_set.all.count}}</td>
				<td><span 
					{% if order.level == '1'%}
						class="label label-success"
						{% elif order.level == '2' %}
						class="label label-warning"
						{% else %}
						class="label label-danger"
					{% endif %}
						>{{order.get_level_display}}</span></td>                  
				<td><span 
					{% if order.status == '1'%}
						class="label label-default"
						{% elif order.status == '2' %}
						class="label label-primary"
						{% elif order.status == '3' %}
						class="label label-danger"
						{% else %}
						class="label label-success"
					{% endif %}
						>{{order.get_status_display}}</span></td>                  
			</tr>
		</tbody>
		{% empty %}
		<tr class="col-xs-12 col-sm-6 col-md-4 col-ls-4">
			<p>No orders pending</p>
		</tr>
		{% endfor %}
	</table>
</div>
<script>setTimeout('document.location.reload()', 9000); </script>
{% endblock %}